.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(12,233,15);
  background: linear-gradient(151deg, rgba(12,233,15,1) 0%, rgba(12,233,15,1) 50%, rgba(0,212,255,1) 50%, rgba(0,212,255,1) 100%);
}




