.Joke{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    padding-top: 20px;
}

.Joke-votes {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    min-width: 3rem;
    border: 3px solid blue;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

.Joke-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 1rem;
}

i {
    font-size: 1.5rem;
    margin: 0 .5rem;
    transition: all .25s ease-in;
}

i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.thumbClick {
    animation: rotateThumb .25s ease-out;
}

h1.Joke-emoji {
    margin-left: 1.5rem;
    font-style: none;
    text-shadow: none;
}
.fa-thumbs-up {
    margin: 0 15px 0 10px;
}

@keyframes rotateThumb {
    50% {
        transform: rotateZ(.125turn);
    }     
}

@media (max-width: 767px) {
    p {
        font-size: .9rem;
    }
    h1.Joke-emoji {
        font-size: 1rem;
        margin: 0 0 0 5px;
    }
    i {
        font-size: .8rem;
        letter-spacing: -5px;
    }
    i:hover {
        transform: none;
    }
    i:active {
        transform: scale(1.2);
    }
    .fa-thumbs-up {
        margin: 0 15px 0 5px;
    }
    .Joke-votes {
        background: lightblue;
        /* background: rgba(50, 50, 50, .25); */
        height: 1rem;
        min-width: 1rem;
    }
}

@media (min-width: 1400px) {
    p {
        font-size: 1.5rem;
    }
    h1.Joke-emoji {
        font-size: 3rem;
    }
    .Joke-container {
        margin-left: 15px;
    }
}







