.Joke{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Joke-votes {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    min-width: 3rem;
    border: 2px solid blue;
    border-radius: 50%;
}

.Joke-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

button {
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 2rem;
    outline: none;
    background: yellowgreen;
    box-shadow: 2px 2px 3px black;
}

button:active {
    transform: translate(2px,2px);
    box-shadow: none;
    border: 1px solid gray;
}

i {
    font-size: 1.5rem;
    margin: 0 .5rem;
}

i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.thumbClick {
    animation: rotateThumb .25s ease-out;
}

@keyframes rotateThumb {
    50% {
        transform: rotateZ(.125turn);
    }
    
    
}







